OBSERVABLE TRENDS

1) Demographic Trend:
More males play than females. While purchase averages are similar, males contribute to total revnue more by sheer quantity. 

2) Age Trend: 
This game is most popular for people ages 20-24. Consequently, this age group is spending the most. 

3) Best Seller Trends:
Oathbreaker, Last Hope of the Breaking Storm was the most popular AND profitable item. 

Nirvana and Fiery Glass Crusader were are also both popular and profitable, however Nirvana was more profitable while Fiery Glass Crusader was more popular.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(purchase_data)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [4]:
total_number_of_players = purchase_data["SN"].value_counts()
print("Total Number of Players:", len(total_number_of_players))

Total Number of Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
Unique_Items = len(purchase_data["Item ID"].value_counts())
Unique_Items

Average_Price = purchase_data["Price"].mean()

Number_of_Purchases = purchase_data["Price"].count()

Total_Revenue = Average_Price * Number_of_Purchases
Total_Revenue



#Must add unique values to summary table, after correcting (above)
Summary_df = pd.DataFrame({"Number of Unique_Items": [Unique_Items],
                           "Average Price": [Average_Price],
                           "Number of Purchases": [Number_of_Purchases],
                           "Total Revenue": [Total_Revenue]
                           }
)                    

Summary_df

pd.options.display.float_format = '${:.2f}'.format

display(Summary_df)

   Number of Unique_Items  Average Price  Number of Purchases  Total Revenue
0                     183          $3.05                  780       $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:

#new_purchase_data = purchase_data.loc["Gender","Age","SN"]
new_purchase_data = purchase_data.loc[:,["Gender","Age","SN"]]

new_purchase_data = new_purchase_data.drop_duplicates()



num_of_players = new_purchase_data.count()[0]

total_count = new_purchase_data["Gender"].value_counts()

gender_percent = (new_purchase_data["Gender"].value_counts()/num_of_players) * 100
gender_percent


#New DataFrame to hold Gender Demographics
gender_demo = pd.DataFrame({"Total Count": total_count, "Percentage of Players": gender_percent})

gender_demo

                       Total Count  Percentage of Players
Male                           484                 $84.03
Female                          81                 $14.06
Other / Non-Disclosed           11                  $1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Purchase Count by Gender
purchase_count = purchase_data["Gender"].value_counts()
purchase_count


gender_group = purchase_data.groupby(['Gender'])
gender_group.head()

#Average purchase price by gender
avg_pp = gender_group["Price"].mean()
avg_pp

#Total Purchase Value
avg_s = gender_group["Price"].sum()
avg_s


avg_tpp = avg_s/total_count
avg_tpp



# #New DataFrame to hold Purchase Analysis by Gender

purchase_demo = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_pp, 
                             "Total Purchase Value": avg_s, "Total Purchase per Person": avg_tpp
                             }
                            )

pd.options.display.float_format = '${:.2f}'.format

display(purchase_demo)

,Purchase Count,Average Purchase Price,Total Purchase Value,Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [39]:
Grouped_SN = pd.DataFrame(purchase_data.groupby('SN').count())

print(Grouped_SN)

#Creat bines based on age
bins = [0,9,14,19,24,29,34,39,100] 

bin_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"] 

bin_pd = pd.cut(Grouped_SN["Age"],bins, labels=bin_names)


#Find Total count 


#Grouped_ad_df = bin_pd.groupby('Age').value_counts()

# total_count = bin_pd["Age"].value_counts()

# print(total_count)

# # total = Correct_ad["Age"].count()

# # #Find percentage of players
# # percentage = (total_count / total) * 100

# # print(total)
# # print(total_count)
  
    
# # Age_Demographics = pd.DataFrame({"Total Count": total_count,"Total": total,
# #                                  "Percentage of Players": percentage
# #                                 }
# #                                )    
# # Age_Demographics

               Purchase ID  Age  Gender  Item ID  Item Name  Price
SN
Adairialis76             1    1       1        1          1      1
Adastirin33              1    1       1        1          1      1
Aeda94                   1    1       1        1          1      1
Aela59                   1    1       1        1          1      1
Aelaria33                1    1       1        1          1      1
...                    ...  ...     ...      ...        ...    ...
Yathecal82               3    3       3        3          3      3
Yathedeu43               2    2       2        2          2      2
Yoishirrala98            1    1       1        1          1      1
Zhisrisu83               2    2       2        2          2      2
Zontibe81                3    3       3        3          3      3

[576 rows x 6 columns]

In [24]:

#Get quick overview of different ages in the dataset 
# purchase_data["Age"].describe()
# pd.options.display.float_format = '{:.2f}'.format
# display(purchase_data["Age"].describe())

#purchase_data['Age'].value_counts(bins=10, sort=False)

#Drop duplicate to ensure the correct count will be returned

new_pd = purchase_data.drop_duplicates()

#Creat bines based on age
bins = [0,9,14,19,24,29,34,39,100] 

bin_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"] 

bin_pd = pd.cut(new_pd["Age"],bins, labels=bin_names)

print(bin_pd)

# #create new data frame to avoid overwriting / confusion with original df, purchase data
# Correct_ad = pd.DataFrame(bin_pd)


# #Group this data frame by age bins
# Correct_ad.groupby("Age").count()

# #Find Total count 

# total_count = Correct_ad["Age"].value_counts()

# total = Correct_ad["Age"].count()

# #Find percentage of players
# percentage = (total_count / total) * 100

# print(total)
# print(total_count)
  
    
# Age_Demographics = pd.DataFrame({"Total Count": total_count,"Total": total,
#                                  "Percentage of Players": percentage
#                                 }
#                                )    
# Age_Demographics



# pd.options.display.float_format = '{:.2f}%'.format
# display(bin_df.sort_index())

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [46]:
purchase_count18 = group["Price"].value_counts()
print(purchase_count18)

Total Age Count  Price
<10              2.05%    2
                 3.08%    2
                 1.29%    1
                 1.61%    1
                 2.38%    1
                         ..
40+              3.93%    1
                 4.00%    1
                 4.23%    1
                 4.40%    1
                 4.93%    1
Name: Price, Length: 439, dtype: int64

In [45]:


group = purchase_data.groupby("Total Age Count")



purchase_count = group["Price"].count()
#print(purchase_count)

avg_pp = group["Price"].mean()
#print(avg_pp)

total_pv  = group["Price"].sum()
#print(total_pv )

last_col = 


# purchase_count1 = purchase_data["Price"].value_counts()

# last_col = total_pv/purchase_count1 

# print(last_col)


#average of total amounts ppl spend 
#avg_tpp =

1.0     nan%
1.01    nan%
1.02    nan%
1.03    nan%
1.06    nan%
        ...
25-29   nan%
30-34   nan%
35-39   nan%
40+     nan%
<10     nan%
Name: Price, Length: 153, dtype: float64

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [145]:

group = purchase_data.groupby(['SN'])
group

In [152]:
#purchase count
purchase_count = group["Price"].count()


#avg price
avg_pp = group["Price"].mean()

#total purchase price
total_pp = group["Price"].sum().sort_values(ascending=False)

      
#Summary dataframe to hold results
Top_Spenders = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_pp, 
                             "Total Purchase Value": total_pp
                             }
                            )

display(Top_Spenders.sort_values(by="Total Purchase Value",ascending=False)[:5])

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                   $3.79                $18.96
Idastidru52               4                   $3.86                $15.45
Chamjask73                3                   $4.61                $13.83
Iral74                    4                   $3.40                $13.62
Iskadarya95               3                   $4.37                $13.10

Most Popular Items
* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [59]:
popular_df = purchase_data[["Item ID","Item Name","Price"]]
                          
group = popular_df.groupby(['Item ID','Item Name'])

#Purchase Count
purchase_count = group["Price"].count()


#Item Price
item_price = group["Price"].value_counts()

#Total Purchase Value
total_purchase_value = group["Price"].sum()


new_group = pd.DataFrame({"Purchase Count": purchase_count, "Item Price": item_price,
                            "Total Purchase Value": total_purchase_value
                          }                            
                        )

display(new_group.sort_values(by="Purchase Count",ascending=False)[:5])

ValueError: operands could not be broadcast together with shapes (183,2) (3,) (183,2)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80